html,
body {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #1d0130;
    font-family: 'Roboto', sans-serif;
}
form{
    margin-bottom: 2rem;
}

.form-group{
    margin-top: 1rem;
}
.panel h2 {
    color: #444444;
    margin: 0 0 8px 0;
    font-size: 18px;
}

.panel p {
    color: #777777;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 30px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}


.login-form .form-group {
margin-bottom: 10px;
}

.login-form {
    text-align: center;
}
.login-form .btn.btn-primary {
    background: #a000c0 none repeat scroll 0 0;
    border-color: #6c0579;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    border-radius: 3px;
}

.login-form .btn.btn-primary.reset {
    background: #a008e7 none repeat scroll 0 0;
}

.login-form .btn.btn-primary:hover {
    background: #7411a2 none repeat scroll 0 0;
    border-color: #b105c8;
}

.back{
    text-align: left;
    margin-top: 10px;
}

.back a{
    color: #444444;
    font-size: 13px;
    text-decoration: none;
}



#inputEmail{
    width: 100%;
}
#inputPassword{
    width: 100%;
}
::placeholder { 
    padding-left: 1rem;
    font-size: 0.9rem;
  }



.error-log{
    color: rgb(241, 65, 65);
    
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.success-log-msg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-container{
    width: 30rem;
    height: 20rem;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 5rem;
    border-radius: 4px;
    padding-bottom: 1rem;
}
.msg-txt{
    margin-top: 5rem;
    font-size: 1.3rem;
}

.msg-txt a {
    color: #a000c0;
    text-decoration: none;

}

.success-log-msg h2{
    color: rgb(18, 215, 34);
    text-shadow: 0.5px 0.5px 0.5px rgb(1, 113, 29);
}

.port-btn{
    background: #a000c0;
    border-color: #6c0579;
    color: rgb(232, 231, 231);
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
    width: 30%;
   
}

.port-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.port-btn:hover{
    border-color: #a000c0;
    background-color: #6c0579;
}